<header>
  <nav class="navbar d-flex justify-content-between">
    <button (click)="openSidebar()" class="navbar-menu">
      <span></span><span></span><span></span>
    </button>
    <p class="user-location d-flex align-items-center">
      <i class="bi-geo-alt-fill"></i> Agrabad 345, Chittagong
    </p>
    <div class="avatar">
      <img src="assets/img/user/avatar.png" alt="" />
    </div>
  </nav>
</header>
<!-- End Home Header Part -->

<app-sidebar
  [openMenu]="openMenu"
  [closeSidebar]="closeSidebar()"
></app-sidebar>
