<div class="explore-hotel">
  <header class="d-flex justify-content-between align-items-center">
    <div>
      <h3 class="title">Today New Arivable</h3>
      <p>Best of the today food list update</p>
    </div>
    <a routerLink="/food_list">See All <i class="bi-chevron-right"></i></a>
  </header>
  <ul>
    <li *ngFor="let hotel of hotels">
      <div class="hotel-img">
        <img src="{{ hotel.imgPath }}" alt="{{ hotel.name }}" />
      </div>
      <div class="hotel-info">
        <h3 class="title d-flex justify-content-between">
          <span class="hotel-name">{{ hotel.name }}</span>
          <span class="hotel-price">${{ hotel.price.toFixed(2) }}</span>
        </h3>
        <div class="d-flex mt-2 justify-content-between align-items-center">
          <p class="hotel-location d-flex">
            <i class="bi-geo-alt-fill"></i> {{ hotel.location }}
          </p>
          <a routerLink="/booking" class="btn c-btn-primary">Book</a>
        </div>
      </div>
    </li>
  </ul>
</div>
