<app-header
  title="User Setting"
  [hasSidebar]="false"
  routerLinkSet="/"
></app-header>
<div class="wrapper">
  <header class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <img
        class="user-avatar"
        src="{{ users[0].avatar }}"
        alt="{{ users[0].name }}"
      />
      <div class="ms-3">
        <p class="user-name">{{ users[1].name }}</p>
        <span class="user-mail">{{ users[1].email }}</span>
      </div>
    </div>

    <button>
      <i class="bi-bell"></i>
    </button>
  </header>
  <!-- End Header Part -->

  <ul class="menu-list">
    <li>
      <a [routerLink]="users[1].id + '/account'"
        ><i class="bi-person-circle"></i> Account Setting</a
      >
    </li>
    <li>
      <a [routerLink]="users[1].id + '/feedback'"
        ><i class="bi-chat-quote"></i> Feedback</a
      >
    </li>
    <li>
      <a routerLink="/user_setting"
        ><i class="bi-cloud-upload"></i> What's New</a
      >
    </li>
  </ul>

  <div class="text-center my-5">
    <button class="btn btn-danger">Logout</button>
  </div>
</div>
