@import "/src/styles";

footer {
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
  padding: 10px;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      position: relative;
    }
    a {
      background-color: transparent;
      @include btn-style;
      color: #888;
      font-size: 24px;
      &.active {
        color: $primary-color;
      }
      &.btn3 {
        background-color: $primary-color;
        color: white;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -40px;
        font-size: 30px;
        box-shadow: 0 3px 25px -5px $primary-color;
        @include flex-center;
      }
    }
  }
}
