<footer>
  <nav class="row">
    <div class="col-2">
      <a routerLink="/" class="btn1"><i class="bi-grid"></i></a>
    </div>
    <div class="col-2">
      <a routerLink="/noteList" class="btn2"><i class="bi-patch-check"></i></a>
    </div>
    <div class="col-2">
      <a routerLink="/createTask" class="btn3"><i class="bi-plus"></i></a>
    </div>
    <div class="col-2">
      <a routerLink="/noteList" class="btn4"><i class="bi-folder"></i></a>
    </div>
    <div class="col-2">
      <a routerLink="/setting" class="btn5"><i class="bi-gear"></i></a>
    </div>
  </nav>
</footer>
