<footer>
  <nav class="row">
    <div class="col-2">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="btn1"
        ><i class="bi-grid"></i
      ></a>
    </div>
    <div class="col-2">
      <a routerLink="/noteList" routerLinkActive="active" class="btn2"
        ><i class="bi-patch-check"></i
      ></a>
    </div>
    <div class="col-2">
      <a routerLink="/createTask" routerLinkActive="active" class="btn3"
        ><i class="bi-plus"></i
      ></a>
    </div>
    <div class="col-2">
      <a routerLink="/noteList" routerLinkActive="active" class="btn4"
        ><i class="bi-folder"></i
      ></a>
    </div>
    <div class="col-2">
      <a routerLink="/setting" routerLinkActive="active" class="btn5"
        ><i class="bi-gear"></i
      ></a>
    </div>
  </nav>
</footer>
