<footer>
  <nav>
    <a
      class="link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      #route1Active="routerLinkActive"
      ><i [ngClass]="route1Active.isActive ? 'bi-house-fill' : 'bi-house'"></i
    ></a>
    <!-- End Single Route -->
    <a
      class="link"
      [class.myClass]="false"
      routerLinkActive="active"
      routerLink="/booking_history"
      #route2Active="routerLinkActive"
      ><i
        [ngClass]="
          route2Active.isActive ? 'bi-bookmark-check-fill' : 'bi-bookmark-check'
        "
      ></i>
    </a>
    <!-- End Single Route -->

    <a
      class="link"
      routerLinkActive="active"
      routerLink="/user_setting"
      #route3Active="routerLinkActive"
      ><i [ngClass]="route3Active.isActive ? 'bi-person-fill' : 'bi-person'"></i
    ></a>
    <!-- End Single Route -->
  </nav>
</footer>
