@import "../styles";

.main-wrapper {
  position: relative;
  margin: 10px auto 0 auto;
  background-color: $primary-color;
  .task-wrapper {
    background-color: #f7f7f7;
    border-radius: 10px 10px 0 0;
    height: 100%;
    padding: 20px 10px;
    overflow: auto;
    height: calc(100% - 68px);
  }
}
