.mobile-device {
  position: relative;
  background-color: white;
  height: 100%;
}

@media (max-width: 430px) {
  .main-wrapper {
    .mobile-device {
      margin-top: 0;
      width: 100%;
      height: 100vh;
    }
  }
}
