@import "../styles";

.main-wrapper {
  max-width: 425px;
  height: 700px;
  margin: 100px auto 0 auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: $primary-color;
  .task-wrapper {
    background-color: #f7f7f7;
    border-radius: 10px;
    height: 100%;
    padding: 20px 10px;
  }
}
