<header>
  <div class="row">
    <div class="col-6 col-sm-6 left-item">
      <div class="notification">
        <button class="position-relative">
          <span
            class="
              position-absolute
              top-0
              start-100
              translate-middle
              badge
              rounded-pill
            "
            >23</span
          >
          <i class="bi-bell"></i>
        </button>
      </div>
      <div class="info">
        <p>{{ title }}</p>
        <span>{{ subtitle }}</span>
      </div>
    </div>
    <div class="col-6 col-sm-6 right-item">
      <ul>
        <li [ngClass]="activeMenu ? 'active' : 'unActive'">
          <button (click)="onActiveMenu()"><i class="bi-lightning"></i></button>
        </li>
        <li [ngClass]="searchMenu ? 'active' : 'unActive'">
          <button (click)="onSearchMenu()"><i class="bi-search"></i></button>
        </li>
        <li [ngClass]="filterMenu ? 'active' : 'unActive'">
          <button (click)="onFilterMenu()">
            <i class="bi-funnel-fill"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
