/* You can add global styles to this file, and also import other style files */
$primary-color: #1c46f1;

/*
    =================
    All @mixin Here
*/
@mixin btn-style {
  border: none;
  outline: none;
}
@mixin none-style {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #343a40 !important;
}
